#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #2f2f2f;
}
.card button {
  margin-right: 10px;
  margin-top: 10px;
}

.card input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.input-box {
  width: 300px;
  height: 30px;
  border-radius: 8px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 1em; 
}

.input-container input:focus {
  border-color: #ffffff; 
  outline: none; 
  box-shadow: 0 0 5px rgba(100, 108, 255, 0.5);
}

.input-container input::placeholder {
  opacity: 0.5;
}

.input-container img {
  margin-right: 10px;
}
.input-container button {
  position: absolute;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  transform: translateY(-20%) translateX(600%);
}
.input-container button:focus {
  border-color: #2f2f2f;
}
.grey {
  color: #888;
}

h1 {
  margin-bottom: 1em;
}